.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;

  &__icon-close {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
  }

  &__container {
    position: absolute;
    max-width: 703px;
    width: 100%;
    left: 50%;
    top: 50%;
    padding: 30px 50px;
    border-radius: 10px;
    color: $textColor;
    background-color: #000000;
    transform: translate(-50%, -50%);
  }

  &__heading {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 20px;
  }
}
